body {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px;
    color: #333;
    text-align: justify;
    font-family: monospace;
}

.cointainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--fluid {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 0;
        margin-left: 0;
    }
}

.btn {
    font-family: monospace;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 20px;
    font-size: 15px;

    &.info {
        border-color: #2196F3;
        color: dodgerblue;
    }

    &:hover {
        background: #2196F3;
        color: #fff;
    }
}

.italic {
    font-style: italic;
}
