body {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px;
    color: #333;
    text-align: justify;
    font-family: monospace;

    h5 {
        font-style: italic;
    }
}

.cointainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--fluid {
        width:100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.btn {
    font-family: monospace;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 20px;
    font-size: 15px;

    &.info {
        border-color: #2196F3;
        color: dodgerblue;
    }

    &:hover {
        background: #2196F3;
        color: white;
    }
}
